<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tahcu</title>
  </head>

  <style>
    * { padding: 0; margin: 0; box-sizing: border-box; }
  </style>

  <body>
    <div>

      <h1 style='font-weight: 600; font-size: 36px; padding: 5rem;'>Tahcu OTP</h1>

      <p>
        Here is your OTP. Do not share it to anyone!
      </p>

      <span style='font-size: 3rem;'>{{otp}}</span>

    </div>
  </body>

</html>